<!-- TEMPLATE 04 table-detail: judul + tabel + catatan. Max 7 baris. -->
<section class="slide"><div class="pad">
<p class="kicker reveal">[KICKER]</p><h1 class="title reveal d1">[Judul tabel]</h1>
<table class="t reveal d2">
<tr><th>[KOLOM 1]</th><th>[KOLOM 2]</th><th style="text-align:right">[KOLOM 3]</th></tr>
<tr><td>[a1]</td><td>[b1]</td><td class="n">[c1]</td></tr>
<tr><td>[a2]</td><td>[b2]</td><td class="n">[c2]</td></tr>
<tr><td>[a3]</td><td>[b3]</td><td class="n">[c3]</td></tr>
<tr><td>[a4]</td><td>[b4]</td><td class="n">[c4]</td></tr>
</table>
<p class="small reveal d3" style="margin-top:18px">[Catatan / sumber angka]</p>
</div><div class="foot"><span>[Footer kiri]</span><span>{{N}} / {{TOTAL}}</span></div></section>
